.hero__title {
  margin: 0 0 28px;
  font-size: 61px;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: -0.02em;

  color: var(--text-primary);
}

.hero__text {
  margin: 0 0 55px;
  font-size: 19px;
  line-height: 1.65;
  color: var(--text-primary);
}

.accent {
  color: var(--accent);
  font-weight: 400;
}
