.btn {
  border: none;
  border-radius: 5px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: inherit;
}

.btn--sm {
  padding: 6px 14px;
  font-size: 14px;
}

.btn--md {
  padding: 8px 18px;
  font-size: 15px;
  height: 45px;
  width: 137px;
}

.btn--lg {
  padding: 10px 22px;
  font-size: 16px;
}

.btn--primary {
  background-color: #35B8BE;
  color: white;
}

.btn--primary:hover {
  background-color: #35B8BE;
}

.btn--secondary {
  background-color: #F8FCFC;
  border: 1px solid #cfd8dc;
  color: #2a3342;
}

.btn--secondary:hover {
  background-color: #35B8BE;
   color: white;
}

.btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.btn--full {
  width: 100%;
  display: block;
}
