
.hero__title {
  margin: 0 0 28px;    
  font-size: 61px;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #0F172A;
}

.hero__text {
  margin: 0 0 55px;    
  color: #6B7280;
  font-size: 19px;
  line-height: 1.65;   
}


.accent {
  color: #28C5C0;
  font-weight: 400;
}
