.orderPage {
  max-width: 500px;
  margin: 80px auto;
  padding: 32px 24px;
  text-align: center;
}

.orderPage h1 {
  font-size: 32px;
  margin-bottom: 16px;
  color: #2a3342;
}

.orderPage p {
  color: #6d7c86;
  font-size: 16px;
  line-height: 1.6;
}
