.footer__right {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 56px;
  align-items: stretch;
}

.footer__col {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer__title {
  margin: 0 0 14px;
  font-size: 14px;
  letter-spacing: .08em;
  text-transform: uppercase;
  color: #6B7280;
  font-weight: 700;
}


.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
}

.footer__right .footer__col:nth-child(3) .footer__list {
  justify-content: flex-start;
}


.footer__right .footer__col:nth-child(3) .footer__list li {
  margin: 27px 0 2px 0;
}

.footer__list li { 
  display: block; 
  margin: 2px 0; 
}

.footer__list a,
.footer__list a:visited {
  display: inline-block;
  color: #374151;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.9;
}

.footer__list a:hover { 
    color: #111827; 
}

.tooltip { 
  position: relative; 
  display: inline-block;
  cursor: help; 
  font-size: 16px;
}
.tooltip__bubble {
  position: absolute; 
  left: 50%; 
  bottom: 125%; 
  transform: translateX(-50%);
  background: #1e293b; 
  color: #fff; 
  padding: 8px 10px; 
  border-radius: 8px;
  font-size: 16px; 
  white-space: nowrap; 
  opacity: 0; 
  pointer-events: none;
  transition: opacity .15s ease, transform .15s ease; 
  z-index: 10;
}
.tooltip__bubble::after {
  content: ""; 
  position: absolute; 
  top: 100%; 
  left: 50%; 
  transform: translateX(-50%);
  border: 6px solid transparent; 
  border-top-color: #1e293b;
}
.is-visible { 
  opacity: 1; 
  transform: translateX(-50%) translateY(-4px); 
}
