.footer__left {
  min-width: 260px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer__logo {
  height: 51px;
  width: 40px;
  display: block;
  margin: 0 0 12px;
}

.footer__tagline {
  color: #6B7280;
  font-size: 20px;
  line-height: 1.5;
}

.footer__logo-link {
  display: inline-block;
  text-decoration: none;
}

